*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
}

#grid-container header{
    grid-column: 1/2;
    grid-row: 1/4;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#search{
    display: inline-block;
    border-radius: 61px;
}

#grid-container header nav ul{
    list-style: none;
}

.icons{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 0.7rem;
    margin-top: -0.5rem;
}

#grid-container main{
    grid-column: 1/2;
    grid-row: 3/4;
    margin-top: 200px;
}

#mansory-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
}

.scroll-banner{
    width: 100%;
    background-size: cover;
    padding: 0;
    border-radius: 25px;
    margin-top: 220px;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 10px;

}

.scroll-banner figure{
    scroll-snap-align: center;
    margin: 0;
    padding: 0;
}

.scroll-banner img{
    width: 400px;
    height: 100%;
    object-fit: cover;

}

#image-container1 img, #image-container2 img, #image-container3 img{

}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem 0;
    padding: 0;
    list-style: none;
}

.product-card{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 39px;
    gap: 2rem;
}

.product-card article{
    min-width: 100px;
    flex-grow: 1;
}

.product-card article img{
    width: 100%;
    border-radius: 25px;
}

.product-card article p{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fa-regular.fa-star{
    color: white;
}

h2{
    flex-basis: 100%;
}

.popular-products{
    text-align: center;
    margin-top: 250px;
}

.btn{
    display: inline-block;
    color: black;
    background-color: white;
    border: black 1px solid;
    border-radius: 30px;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

.popular-categories{
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    color: black;
}

.cat1, .cat2, .cat3, .cat4, .cat5{
    background-image: url(https://picsum.photos/id/36/1200/600);
    text-align: center;
    color: black;
    border-radius: 25px;
    height: 20vh;
    margin-bottom: 10px;
}

.reviews{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.reviews h4{
    width: 100%;
}

.review-card{
    max-width: 289px;
    width: 100%;
    box-shadow: 13px 9px 20px 0px #efefef;
    border-radius: 4px;
    padding: 1rem;
}

.review-card img{
    width: 100%;
    max-width: 150px;
}

.scroll-container{
    display: flex;
    gap: 1rem;
    overflow: scroll;
}

#grid-container footer{
    grid-column: 1/2;
    grid-row: 4/5;
    background-color: white;
    color: black;
    border-top: 1px black solid;
}

#footer2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.fa-solid.fa-location-dot, .fa-solid.fa-phone, .fa-solid.fa-envelope, .fa-solid.fa-clock {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

nav#breadcrumbs-check{
    margin-top: 1rem;
}

#breadcrumbs-check ul{
    display: flex;
    list-style: none;
    gap: 0.2rem;
    padding: 0;
    margin: 1rem 0;
    margin-top: 12rem;
}

#checkout-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
}

#product-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
}

.breadcrumb-bar{
    display: flex;
    list-style: none;
    gap: 1rem;
}

#productcheck-grid{
    display: flex;
    flex-wrap: wrap;
}

.product-gallery{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 2rem;
}

.gallery-group{
    list-style: none;
}

.product-details{
    display: flex;
    flex-direction: column;
    list-style: none;
}

#kasse{
    display: flex;
    justify-content: center;
    margin-top: -1rem;
    margin-bottom: -2rem;
}

.shopping-bag img{
    width: 190px;
    height: 40vh;
}

.shortcuts{
    grid-column: 2/2;
}

.socials{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    align-content: flex-start;
    gap: 1.2rem;
    padding: 0;
}

@media only screen and (min-width: 800px){

}